@page
@model IndexModel
<h2>Aplikacja demonstracyjna SimWeb</h2>

<a>
    Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.

</a>

<a>
    Mapa typu bounce.

</a>

<a>
    Sekwencja ruchów: luludlulldllullrdllr.

</a>

<img class="start-image" src="/Symbols/O.png">
